body {
    font-family: 'Arial', sans-serif;
    background-color:#c19ef400;
margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: #e9f9f8;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px hwb(0 5% 95% / 0.014);
}

/* Left Section Styling */
.left-section {
    background-color: rgba(4, 20, 26, 0.913);
    color: rgb(254, 252, 252);
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 7px solid #151414;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #f1bcc1;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(19, 16, 16);
    border-radius: 10px;
    box-shadow: 0 0 15px #020101;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #e8a6aa;
}